@import url('https://googleapis.com');

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

a.button {
  background-color: #215026;
  color: #cb9c2c;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
}

a.button:hover {
  background-color: #307437;
}

div.video {
    display: inline-block;
    width: 49%;
}

div.buttons {
    display: flex;
    gap: 3%;
    justify-content: center;
}

div.row {
    display: flex;
    gap: 1%;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}